
h1{
    font-size: 50px;
    text-align: center;
}

.features{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 100px;
}

.features button{
    width:120px;
    height:40px;
}

h6{
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 5px; 
    text-align: center;
}

.game{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 50px 50px 50px;
    gap: 70px;
}
 
.board{
    width: 500px; 
    height: 500px;
    display: grid;
    border: 1px solid black;
}

#message{
    text-align: center;
}